body {
    background-image: url("../img/page-background.jpg");
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgb(150, 55, 55);
}

nav {
    margin-bottom: 50px;
}

nav.navbar {
    background-color: rgb(244, 135, 67);
}

.navbar-light {
    color: #000;
}

img.bannerImg {
    border: solid #000;
    border-radius: 50%;
}

img.bodyImg {
   border-radius: 1rem; 
}

.imgBorder {
    border-radius: 1rem;
}

h3 {
    color: #fff;
}

.info {
    margin-bottom: 50px;
}

.site-footer {
    margin-top: 50px;
    background-color: rgb(150, 55, 55);
}

footer li a {
    color:#000;
}

.btn-social-icon:hover {
    color: blue;
}

.eMail {
    color: #000;
}



